.profileImg {
    border-radius: 50%;
    width: 50px;
}

.hoverDropdown:hover .profileDropdown {
    display: block;
    background-color: white;
}

.hoverDropdown {
    height: 86px;
    cursor: pointer;
    text-align: center;
}

.profileWrapper {
    padding-right: 200px;
    padding-left: 50px;
}
.profileUsername {
  
    color: white;
}

